## .NET
bin/
obj/
out/
*.user
*.suo
.vs/

## Banco de dados local (caso use SQLite em algum ambiente de teste)
*.db
*.db-shm
*.db-wal

## Configurações sensíveis locais
appsettings.*.local.json
secrets.json

## Resultados de teste
TestResults/
coverage/

## IDEs
.idea/
*.DotSettings.user
